/* styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

header {
    
    background: #123515;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}


header h1 {
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Georgia', serif;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

header p {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #ddd;
}

nav {
    display: flex;
    justify-content: center;
    background: #276f34;
    padding: 1rem 0;    
    flex-wrap:nowrap;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s;
    font-family: 'Arial Black', sans-serif;
}

nav a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.image{
    width: 12%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    
    width: 80%;
    margin: 1rem auto;
    background: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
}

.container h2 {
    color: #4CAF50;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: space-between;
}

.container p {
    margin-bottom: 1rem;
    line-height: 1.8;
}

.prestations-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.prestations-image {
    flex: 1 1 40%; /* Garde l'image à 40% de l'espace, mais elle peut s'ajuster */
    max-width: 400px;
    width: 40%;
    height: auto;
    margin-right: 2rem;
    flex-shrink: 0;
}

.prestations-text {
   flex: 1 1 55%; /* Le texte prendra 55% */
}

@media (max-width: 768px) {
    .prestations-layout {
        flex-direction: column;
    }

    .prestations-image, .prestations-text {
        width: 100%; /* Sur mobile, ils prennent toute la largeur */
    }
}

.prestations h3 {
    color: #4CAF50;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.prestations p {
    margin-bottom: 1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
    text-decoration: underline;
}

.highlight {
    font-weight: bold;
    color: #4CAF50;
    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.highlight a {
    color: #4CAF50;
    text-decoration: underline;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    justify-content: center;
}

.gallery img {
    width: calc(33.333% - 1rem);
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}

.gallery img:hover {
    transform: scale(1.05);
}

footer {
    background: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    
}

footer p {
    margin: 0;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form input, .contact-form textarea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form button {
    padding: 1rem;
    border: none;
    background: #4CAF50;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #45a049;
}

section {
    padding: 4rem 0;
}

section:nth-of-type(even) {
    background: #f4f4f4;
}

.section-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.section-content img {
    width: calc(50% - 1rem);
    height: auto;
    border-radius: 5px;
}

.section-content div {
    flex: 1;
}

.section-content div h3 {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .gallery img, .section-content img {
        width: 100%;
    }
}
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .container {
        width: 95%;
    }

    .gallery img {
        width: 100%;
    }

    .prestations-image {
        margin-right: 0;
    }
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
   
/* formulaire */
form {
    max-width: 600px;
    margin: auto;
    background: #f4f7f8;
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: 0;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #45a049;
}

#confirmation-message {
    display: none;
    padding: 20px;
    margin: 20px;
    background-color: #385e39;
    color: white;
    text-align: center;
    border-radius: 8px;
}